<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application android:label="ColorOS GMS Network Guard" android:theme="@android:style/Theme.Material.Light.NoActionBar"><meta-data android:name="xposedmodule" android:value="true"/><meta-data android:name="xposeddescription" android:value="阻止 ColorOS 将 Google 服务加入禁止联网名单"/><meta-data android:name="xposedminversion" android:value="93"/></application></manifest>
