<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application android:label="ColorOS GMS & Anti-Fraud Guard" android:theme="@android:style/Theme.Material.Light.NoActionBar"><meta-data android:name="xposedmodule" android:value="true"/><meta-data android:name="xposeddescription" android:value="保护 GMS 联网并停用 ColorOS AI 反诈子系统"/><meta-data android:name="xposedminversion" android:value="93"/></application></manifest>
