<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application android:label="ColorOS GMS &amp; Anti-Fraud Guard" android:theme="@android:style/Theme.Material.Light.NoActionBar"><meta-data android:name="xposedmodule" android:value="true"/><meta-data android:name="xposeddescription" android:value="保护 GMS 联网并清除 ColorOS 与电话反诈逻辑"/><meta-data android:name="xposedminversion" android:value="93"/></application></manifest>
